@mixin flex($direction:row,$justify:center,$align:center, $grow:0, $shrink:1) {
  display:flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  & > * {
    flex-grow: $grow;
    flex-shrink: $shrink;
  }
}

@mixin center-children ($horizontal: true, $vertical: true){
  display: grid;
  @if $horizontal and $vertical{
    place-items: center;
  }
  @else if $horizontal{
    place-items: start center;
  }
  @else if $vertical{
    place-items:center start;
  }
}