/* remove margins */
:root{
  --color-gradient-01: #f7c1ca;
  --color-gradient-02: #faf5da;
  --color-gradient-03: #fddb92;
  --color-gradient-04: #f0c9b1;
  --color-icon: rgb(27, 27, 27);
  --animation-fade-in-offset: 100px;
  --animation-fade-in-top-offset: 200px;
  --animation-fade-in-bottom-offset: 100px;
}
body,
ul {
  margin: 0;
}

body {
  min-width:100vw;
  min-height:100vh;
  position:relative;
  overflow-x: hidden;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.background-color-1{
  position:fixed;
  width:100vw;
  height:100vh;
  background: linear-gradient(
      in lch 90deg, 
      var(--color-gradient-01), 
      var(--color-gradient-02)
      );  
   animation: scroll-out linear;
  animation-timeline: scroll(); 
}
.background-color-2{
  position:fixed;
  width:100vw;
  height:100vh;
  background: linear-gradient(
      in lch 90deg, 
      var(--color-gradient-03), 
      var(--color-gradient-04)
      );  
}

@keyframes scroll-out{
  from {
    opacity:1
  }

  to {
    opacity:0;
  }
}



/* grain effect - start*/
.grain {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
  z-index: 300;
  mix-blend-mode:soft-light;
}

.grain:after {
  content: "";
  top: -10rem;
  left: -10rem;
  width: calc(100% + 20rem);
  height: calc(100% + 20rem);
  z-index: 1;
  position: fixed;
  background-image: url(noise.webp);
  background-repeat: repeat;
  pointer-events: none;
  -webkit-animation: noise 249ms steps(2) infinite;
  animation: noise 249ms steps(2) infinite;
  animation-timeline: auto;
}

  @-webkit-keyframes noise {
    to { transform: translate3d(-7rem,0,0) }
  }


  @keyframes noise {
    from { transform: translate3d(0,9rem,0) }
    20% { transform: translate3d(-8rem,2rem,0) }
    40% { transform: translate3d(-2rem,7rem,0) }
    60% { transform: translate3d(2rem,6rem,0) }
    80% { transform: translate3d(-9rem,1rem,0) }
    to { transform: translate3d(-7rem,0,0) }
  }

/* grain effect - end*/

.flex-row {
  display: flex;
  align-items: center;
  gap: 1rem;
}

#menu {
  height: 3rem;
  padding-left: 2rem;
  font-size: small;
}

main {

  max-width: 80ch;
  margin: auto;
  position:relative;
  
}

section{
  z-index:3;
  padding-top:3rem; 
  margin-bottom: 100vh;
  opacity: 0.25;
  scale: 0.85;
  animation: fade-on-scroll ease-out forwards;
  animation-timeline: view();
  animation-range-start: contain;
  animation-range-end: 40vh;
}

section > *{
  margin: 0 4rem;
}

@keyframes fade-on-scroll {
  to{
    opacity: 1;
    scale: 1;
  }
}

.back-to-top{
  all:unset;
  width:40px;
  height:40px;

  position:fixed;
  bottom:0;
  right:0;
  margin: 2rem;
  
  cursor: pointer;
  animation: scroll-in--back-to-top linear;
  animation-timeline: scroll();
  
  .container{
    position:relative;
    width:100%;
    height: 100%;
    z-index: 2;
    border-radius:50%;
    background:white;
    display:grid;
    place-items: center;
  }
  /* performant shadow*/
  .shadow{
    content:'';
    position:absolute;
    border-radius: 50%;
    width:100%;
    height: 100%;
    z-index: 1;
    /* box shadow variables */
    top:2px;
    left: 2px;
    background:black;
    filter: blur(6px);
    opacity:0.25;
  }
}

@keyframes scroll-in--back-to-top{
  from {
    pointer-events: none;
    opacity:0
  }
  6% {
    opacity:0;
  }
  10% {
    pointer-events:all;
    opacity:1;
  }
  to {
    opacity:1;
  }
}
