@use '../mixins' as m;
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$default-font:'Roboto',Arial, Helvetica, sans-serif;
html{
  font-size: 16px;
  @include m.device('tablet'){
    font-size: 14px;
  }
  @include m.device('mobile-large'){
    font-size: 12px;
  }
  @include m.device('mobile-small'){
    font-size: 10px;
  }
}

$font-sizes: (
  "h1": 2.441rem,
  "h2": 1.953rem,
  "h3":1.563rem,
  "h4":1.25rem,
  "p":1rem,
);