@use './variables.scss' ;
@use "sass:map";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

%color-scheme{
  background: variables.$bg-col;
  color: variables.$primary-dark;
  
  a{
    color:variables.$primary-dark;
  }

  button{  
    background: map.get(variables.$button-colors, "default-bg-fallback");
    background-image: map.get(variables.$button-colors, "default-bg");
    color: map.get(variables.$button-colors, "default-col");
    border: 1px solid black;
    &.primary{
      background:map.get(variables.$button-colors, "primary-bg-fallback");
      background-image: map.get(variables.$button-colors, "primary-bg");
      color:map.get(variables.$button-colors, "primary-col");
      border: none;
    }
    &.secondary{
      background:map.get(variables.$button-colors, "secondary-bg-fallback");
      background-image: map.get(variables.$button-colors, "secondary-bg");
      color:map.get(variables.$button-colors, "secondary-col");
      border: none;
    }
  }
}

%font{
  font-family: Arial, Helvetica, sans-serif; //fallback
  font-family:'Roboto', sans-serif;
  font-size: map.get(variables.$font-sizes, "p");
  
  h1{
    font-size: map.get(variables.$font-sizes, "h1");
  }
  h2{
    font-size: map.get(variables.$font-sizes, "h2");
  }
  h3{
    font-size: map.get(variables.$font-sizes, "h3");
  }
  h4{
    font-size: map.get(variables.$font-sizes, "h4");
  }
  p{
    line-height: 180%;
  }
  button{
    font-family: Arial, Helvetica, sans-serif; //fallback
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
  }
}

%normalize-html{
  box-sizing: border-box;
  margin:0;
  
  article,
    aside,
    footer,
    header,
    nav,
    section,
    figcaption,
    figure{
      display: block;
    }

    /*
     * 1. Remove the gray background on active links in IE 10.
     * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
     */
    a {
      background-color: transparent; /* 1 */
      -webkit-text-decoration-skip: objects; /* 2 */
    }

     /**
     * 1. Add the correct box sizing in Firefox.
     * 2. Show the overflow in Edge and IE.
     */
     hr {
      box-sizing: content-box; /* 1 */
      height: 0; /* 1 */
      overflow: visible; /* 2 */
    }

        /**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */

     code,
     kbd,
     samp {
       font-family: monospace, monospace; /* 1 */
       font-size: 1em; /* 2 */
     }
      /**
     * Remove the border on images inside links in IE 10-.
     */

     img {
      border-style: none;
    }

    /**
     * Hide the overflow in IE.
     */

    svg:not(:root) {
      overflow: hidden;
    }
}

%main-container{
  display:grid;
  justify-content: center;
  padding-left: calc(100vw - 100%);
  .layout{
    width:900px; //do media queries
  }
}

%button-shape{
  button{
    padding: 0.75rem 1.5rem;
    border-radius: 3rem;
    cursor: pointer;
  }
}