@use '../0-abstracts/variables';
@use "sass:map";

*{
  font-family:variables.$default-font;
  font-size: map.get(variables.$font-sizes, "p");
}

h1{
  font-size: map.get(variables.$font-sizes, "h1");
}
h2{
  font-size: map.get(variables.$font-sizes, "h2");
}
h3{
  font-size: map.get(variables.$font-sizes, "h3");
}
h4{
  font-size: map.get(variables.$font-sizes, "h4");
}
p{
  line-height: 180%;
}
button{
  font-family:variables.$default-font;
  font-weight: bold;
}