@use '../0-abstracts' as ab;

@function get-color($variant:'default', $color:'col'){
  @return ab.map-deep-get(ab.$button-colors, $variant, $color);
}

@function gradient($col-1:black,$col-2:white){
  @return linear-gradient(
    80deg, 
    $col-1 20%, 
    $col-2 90%
    );
}

@mixin get-button-colors($variant:'default'){
  background: get-color($variant, "bg-1");
  background-image: gradient(
    get-color($variant, "bg-1"), 
    get-color($variant, "bg-2")
    );
  color:  get-color($variant, "col");
  @if $variant == 'default'{
    border: 1px solid  get-color($variant, "col")
  } @else {
    border:none;
  }
  &:hover{
    background: darken(get-color($variant, "bg-1"),10%);
    background-image: gradient(
      darken(get-color($variant, "bg-1"),10%),
      darken(get-color($variant, "bg-2"),10%));
  }
}

%button-colors{
  @include get-button-colors('default');
  &.primary{
    @include get-button-colors('primary')
  }
  &.cta{
    @include get-button-colors('cta')
  }
}

%button-shape{
  padding: 0.85rem 1.6rem;
  border-radius: 3rem;
}

%button-behaviour{
  cursor: pointer;
  white-space: nowrap;
}

button{
  @extend %button-colors;
  @extend %button-shape;
  @extend %button-behaviour;
  margin: auto!important;
}