@use '../../scss/0-abstracts' as ab;
$debug: false;

.bio__skills{
  display: grid;
  place-items: center;
  justify-content: space-between;
  grid-template-columns: repeat(auto-fit, minmax(5.6rem, 1fr));
  gap:1rem;
  background:ab.$primary-dark;
}