@use '../../scss/0-abstracts' as ab;

$debug:false;
$image-size: min(14rem,28%);

.hero {
  overflow-x:hidden;
  @include ab.debug($debug);
  *{
    @include ab.debug($debug);
  }
}

.hero{
  display:grid;
  grid-template-columns: 31em $image-size;
  justify-content:space-between;
}

.tagline{
  @include ab.flex(column,space-between,flex-start);
  &__header{
    font-weight:900;
    font-size: 3rem;
  }
  &__paragraph{
    margin: 1.2rem 0;
    color:ab.$neutral-gray;
  }
}


.img{
  text-align:bottom;
  object-fit: 'contain';
}