@mixin flex($direction:row,$justify:center,$align:center) {
  display:flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

%removeListStyling{
  padding: 0;
  & > *{
    display: inline;
    margin: 0 1em;
    a{
      text-decoration: none;
    }
  }
}

%navigationVisuals{
  font-weight:500;
  padding-left:10rem;
  a{
    color:currentColor;
  }
}

%centerChildren{
  display:grid;
  place-items:center;
}

.header{
  @include flex(row, space-between);
  height:100px;
  margin: 16px 0;
}

.navigation {
  @include flex(row);
  @extend %removeListStyling;
  @extend %navigationVisuals;
}



.buttonContainer{
  @extend %centerChildren;
}