@use '../scss/0-abstracts/mixins';


%removeListStyling{
  padding: 0;
  & > *{
    display: inline;
    margin: 0 1em;
    a{
      text-decoration: none;
    }
  }
}

%navigationVisuals{
  font-weight:500;
  padding-left:10rem;
  a{
    color:currentColor;
  }
}

%centerChildren{
  display:grid;
  place-items:center;
}

.header{
  @include mixins.flex(row, space-between);
  height:100px;
  margin: 16px 0;
}

.navigation {
  @include mixins.flex(row);
  @extend %removeListStyling;
  @extend %navigationVisuals;
}



.buttonContainer{
  @extend %centerChildren;
}