@use '../0-abstracts' as ab;

$debug: false;

%remove-list-styling {
  margin:0;
  & > * {
    list-style-type: none;
    a {
      text-decoration: none;
    }
  }
}

%menu-visuals {
  padding-right: 1rem;
}

%menu-alignment{
  @include ab.flex($justify: flex-end);
}

%menu__item-visuals {
  font-weight:bold;
  a{
    color:ab.$neutral-gray;
  }
  &:hover{
    a{
      color:ab.$primary;
    }
  }
  
  &.item--active{
    a{
      color:ab.$primary;
    }
  }
}



%menu__item-alignment {
  font-weight:bold;
  margin: 0 1em;
  text-align: center;
  flex-grow: 0;
}

.header {
  @include ab.flex($justify: space-between);
  height: ab.$header-height;
  &__button-container { 
    @include ab.center-children;
  }
  /*--VISUALIZER--*/
  @if $debug {
    outline: 1px solid red;
    * {
        outline: 1px solid rgb(255, 0, 255);
    }
  }
}

.navigation {
  height:100%;
  flex-grow: 1;
  &__menu {
    height:100%;
    @extend %remove-list-styling;
    @extend %menu-visuals;
    @extend %menu-alignment;
    &__item {
      @extend %menu__item-visuals;
      @extend %menu__item-alignment;
    }
  }
}

