@use '../0-abstracts' as ab;

$debug: false;
.header{
  @if $debug {
    outline: 1px solid red;
    * {
        outline: 1px solid rgb(255, 0, 255);
    }
  }
}


.header {
  @include ab.flex($justify: space-between);
  
  @include ab.device(tablet){
    background:pink;
  }

  @include ab.device('mobile-large'){
    background:yellow;
  }

  @include ab.device('mobile-small'){
    background:brown;
  }

  height: ab.$header-height;
  max-width: ab.$content-width;
  margin:auto;

  &__button-container { 
    @include ab.center-children;
  }

  &__logo{
    @include ab.device(tablet){
      background:white;
      width:25vw;
    }
  }
}


%hamburger-line {
  box-sizing: content-box;
  background:ab.$primary-dark;
  height:2px;
  width:2em;
  border-radius: 2px;
}

.hamburger{
  height:24px;
  cursor: pointer;
  @include ab.flex(column,space-between);
  &__span{
    @extend %hamburger-line;
  }
  display:none;
}