
@use '../0-abstracts/' as ab;

%center-page-content{
  display:grid;
  justify-content: center;
}

%content-width{
  width: 90vw;
  max-width: ab.$content-width;
}

.layout{
  min-width:100vw;
  @extend %center-page-content;
  & > :not(.home){
    @extend %content-width;
  }
}