
@use '../0-abstracts/' as ab;

%center-page-content{
  display:grid;
  justify-content: center;

}


.layout{
  min-width:100vw;
  @extend %center-page-content;
  & > :not(.home){
    width: 80vw;
    max-width: ab.$content-width;
  }
}